.tree {
  color: white;
  span {
    color: white;
  }
  :global(.ivu-tree-title:hover) {
    background-color: rgba(58, 61, 84);
  }
  :global(.ivu-tree-title-selected) {
    background-color: rgba(58, 61, 84);
  }
}
.darkForm {
  :global(.ivu-form-item label) {
    color: white;
  }
}
.customSpin {
  position: absolute;
  left: 100px;
  top: 400px;
}
.demo-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}


